<%- include ('Partials/head') %>

</head>
<body class="bg-gray-50 min-h-screen">
 <%- include ('Partials/nav') %>
    <h1 class="text-3xl font-bold text-green-600 mt-8 text-center">Home added successfully!</h1>
    <!-- <p>Home Name: ${req.body.name}</p> -->

    <%- include ('Partials/footer') %>
</body>

</html>